.trItem{
  border: 1px solid rgb(160, 118, 118);
  background-color: #e8ede7;
}

.tdItem{
  padding-left: 70px;
  font-size: 20px;
  
    border: 1px solid lightgrey;
    text-transform: capitalize;
    height: 40px;
    background-color: rgb(125, 206, 206);
}